<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <% 
      helper_used_once(1, 2)
      helper_used_twice(x: 1)
      helper_used_twice(x: 2)
    %>
  </body>
</html>
